{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post_det.css' %}">
{% endblock extra_css %}

{% block title %}О Нас{% endblock title %}

{% block header %}О Нас{% endblock header %}

{% block content %}
<div class="post">
    <h1 class="post-title">{{ post.title }}</h1>

    <div class="post-details">
        <p><strong>Местоположение:</strong> {{ post.location }}</p>
        <p><strong>Цена:</strong> {{ post.price }} ₽</p>
        <p><strong>Количество комнат:</strong> {{ post.count_rooms }}</p>
        <p><strong>Тип:</strong> {{ post.get_type_of_room_display }}</p>
        <p><strong>Автор:</strong> {{ post.author.username }}</p>
    </div>

    <p class="post-content">{{ post.content }}</p>
    <small class="post-date">Опубликовано: {{ post.created_at }}</small>

    {% if post.image %}
        <div class="post-image">
            <img src="{{ post.image.url }}" alt="Изображение для {{ post.title }}">
        </div>
    {% endif %}

    <a href="{% url 'find_room' %}" class="back-link">← Назад к списку</a>
</div>
{% endblock content %}
