{% extends 'web_room/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/my_ad.css' %}" type="text/css">
{% endblock extra_css %}

{% block title %}Ваш профиль{% endblock %}

{% block content %}
    <h1>Мои объявления</h1>

    {% if ads %}
        {% for ad in ads %}
            <div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
                 <a href="{% url 'users:ad_post_det' ad.id %}">{{ ad.title }}</a>
                <p><strong>Местоположение:</strong> {{ ad.location }}</p>
                <p><strong>Цена:</strong> {{ ad.price }} руб.</p>
                <p><strong>Количество комнат:</strong> {{ ad.count_rooms }}</p>
                <p><strong>Тип:</strong> {{ ad.get_type_of_room_display }}</p>
                <p><strong>Статус:</strong> {% if ad.is_rented %} <span style="color: red;">Забронировано</span> {% else %} <span style="color: green;">Свободно</span> {% endif %}</p>
                <p><strong>Арендатор:</strong> {% if ad.renter %} {{ ad.renter.username }} {% else %} - {% endif %}</p>

                {% if ad.image %}
                    <img src="{{ ad.image.url }}" alt="Фото объявления" class="image-cont" style="max-width: 300px;">
                {% endif %}

                {% if ad.is_rented %}
                    <p>Объявление забронировано.</p>
                {% endif %}

                <!-- Кнопка "Убрать из поиска" -->
                {% if ad.active %}
                    <form action="{% url 'users:remove_from_findroom' ad.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Убрать из поиска</button>
                    </form>
                {% else %}
                    <p>Это объявление скрыто из поиска.</p>
                    <form action="{% url 'users:restore_ad' ad.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Возвратить в поиск</button>
                    </form>
                {% endif %}

                <!-- Кнопка удаления объявления -->
                <form action="{% url 'users:delete_ad' ad.id %}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить это объявление?');">
                    {% csrf_token %}
                    <button type="submit" style="color: #ffffff;">Удалить объявление</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>У вас пока нет объявлений.</p>
    {% endif %}
        <a href="{% url 'users:profile' %}" class="back-link">← Назад к моим объявлениям</a>
{% endblock %}
