/* Общие стили */

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover; /* Растягивает фон на весь экран */
    background-position: center; /* Центрирует фон */
    background-attachment: fixed; /* Фон остается на месте при прокрутке */
    min-height: 100vh; /* Обеспечивает, что фон покроет всю высоту экрана */
    height: 100%; /* Устанавливаем высоту для html и body, чтобы фон правильно растягивался */
}

li {
  display: inline-block;
    padding: 10px;
}
/* Контейнер меню */
div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 12px;
    margin: 1px auto;
    width: 80%;
}

/* Ссылки навигации */
div a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

div a:hover {
    color: #887171;
}

ul {
    list-style: none;
}

summary{
    padding-top: 10px;
    font-size: 1.2rem;
}

/* Заголовки */
h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
}

/* Контентный блок */
.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 2022px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logo-img {
    padding: 0px;
    width: auto; /* Автоматическая ширина, чтобы сохранить пропорции */
    height: 100px; /* Установим ограничение по высоте */
    max-width: 100%; /* Ограничиваем ширину на 100% от контейнера */
    max-height: 100px; /* Максимальная высота 30px */
    margin-right: 50px; /* Отступ справа */
}

* {
  margin: 0;
  padding: 0;
}
.content {
  min-height: calc(100vh - 80px);
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    padding: 30px;
    flex: 1 1 auto;
}

.footer {
    position: relative;  /* Закрепляем футер внизу */
    bottom: 0;  /* Привязываем футер к нижней части экрана */
    left: 0;
    width: 100%;  /* Ширина футера на весь экран */
    background-color: #222;  /* Темный фон */
    color: #fff;  /* Белый цвет текста */
    text-align: center;  /* Выравнивание текста по центру */
    padding: 15px 0;  /* Отступы сверху и снизу */
    font-family: 'Arial', sans-serif;  /* Шрифт для текста */
    font-size: 0.9rem;  /* Размер шрифта */
    z-index: 1000;  /* Футер будет поверх контента */
    margin-top: 100px;
}

